<div id='auth'>
  <form action= '/auth/login' method='PUT'>
    <label class='lable-for'>Username</label>
    <input type='text' name='name'>
    <label class='lable-for'>Username</label>
    <input type='password' name='password'>
    <input type='submit' class='btn' value='login'/>
  </form>
</div>
