body{
  background-color: #E6546B; }

#content {
  background-color: #C9DAA4;
  margin: 0 auto;
  text-align: left;
 }
  
 @media screen and (max-width: 720px) {
   #content{
     width: 100%; }
 }

 @media screen and (min-width: 720px) {
   #content{
     width: 70%;
   }
 }

