<div> 
  <form action='/authentication/login' method='post'>
    <input type='text' name='name' placeholder='NAME HERE'/>
    <input type='password' name='password' placeholder='PASSWORD'/>
    <input type='submit' value='signin'/>
  </form>
  <a href= '/authentication/signup'>signup</a>
</div>
