<div id='navigation'>
  <ul>
    <li>Locations</li>
    <li>Menu</li>
    <li>Employees</li>
    <% if session[:user_id].nil? %>
      <li>
        <a href='/auth/signin'>Sign In</a>
      </li>
    <% else %>
      <li>
        <a href='/admin'>Admin Panel</a>
      </li>
      <li>
        <a href='/auth/logout'>Logout</a>
      </li>
    <% end %>
  </ul>
</div>
