<div id='index'> 
  <div class='hero'>
    <img src='images/beer.png' />
    <img src='images/hamburger.png' />
    <img src='images/icecream.gif' />
  </div>
  <div class='description'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, est quis viverra egestas, felis nulla tempus ligula, a laoreet sem turpis ac libero. Duis dapibus finibus risus id posuere. Nullam sed luctus odio. Pellentesque tincidunt, augue vel posuere fermentum, nunc urna vulputate libero, id aliquam felis magna rutrum lorem. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur tempus nunc quis sem vulputate, nec mattis ipsum dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
  </div>
</div>
