<div id='index'> 
  <div class='hero'>
    <img src='images/beer.png' />
    <img src='images/hamburger.png' />
    <img src='images/icecream.gif' />
  </div>
  <div class='description'>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat, est quis viverra egestas, felis nulla tempus ligula, a laoreet sem turpis ac libero. Duis dapibus finibus risus id posuere. Nullam sed luctus odio. </p>
  </div>
</div>
